# PostgreSQL
POSTGRES_DB=portfolio
POSTGRES_USER=portfolio
POSTGRES_PASSWORD=change_this_password
DB_PASSWORD=change_this_password

# Backend
DATABASE_URL=postgres://portfolio:change_this_password@db:5432/portfolio
JWT_SECRET=change_this_jwt_secret_key
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_admin_password

# Frontend
NEXT_PUBLIC_API_URL=https://lazy-tracker.my.id
NEXT_PUBLIC_APP_VERSION=0.1.0
NEXT_PUBLIC_APP_ENV=production
