node_modules/
dist/
.next/
**/.env
**/.env.local
**/.env.*.local
.env.production
*.log
.DS_Store
postgres_data/
*.tsbuildinfo
next-env.d.ts
nginx/certs/**/*.pem
nginx/certs/**/*.key
**/*.pem
**/*.key
